
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.card{
    
    width: 20%;
    margin: auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow:  4px 4px 5px rgba(0, 0, 0, 0.2);
    margin-top: 200px;
}

.card.cardimage{
    background-color:blue;
    width: 100%;
    height: 200px;
    
}

.cardimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.card .cardtitlle{
    width: 100%;
    padding: 20px;
    text-align: center;
}
 
.card.cardtitlle h1{
    font-family: sans-serif;
    text-align: center;
}
 
.card.cardtitlle p{
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
    margin: 10px ;
}

.card .btn button{
    padding: 12px 32px;
    border-radius: 4px;
    border: none;
    background-color: rgb(11, 11, 255);
    color: white;
    cursor: pointer;
    transition:all 0.3s ;
    text-align: center;
    margin: 20px;
}

.card .btn button:hover{
    background-color: rgb(2, 2, 116);
}